@import '~antd/dist/antd.css';

.App-logo {
  height: 40px;
  pointer-events: none;
}

#root, .ant-layout {
  height: 100%;
}

.ant-layout {
  display: flex;
  flex-flow: column nowrap;
}

.ant-layout > .ant-layout-content {
  flex-grow: 1;
}
